@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("assets/fonts/Brandon_Grotesque/Brandon_Grotesque_regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-brandon-grotesque: "Brandon Grotesque", sans-serif;
  --color-midnight: #181818;
  --color-light: #ebebeb;
  --color-dim: #858585;
  --tracking-title: 0.16em;
  --leading-title: 1.5em;
}

@layer base {
  body {
    @apply bg-midnight text-dim font-brandon-grotesque;
  }

  @media (min-width: 768px) {
    * {
      cursor: none;
    }
  }
}

@layer components {
}

@layer utilities {
  .ease-hero {
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  }
}
